/* line 8, ../sass/base/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 20, ../sass/base/_reset.scss */
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

/* line 24, ../sass/base/_reset.scss */
body {
  line-height: 1.5; }

/* Tables still need 'cellspacing="0"' in the markup. */
/* line 29, ../sass/base/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* line 30, ../sass/base/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal; }

/* line 31, ../sass/base/_reset.scss */
table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
/* line 34, ../sass/base/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/* line 35, ../sass/base/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
/* line 38, ../sass/base/_reset.scss */
a img {
  border: none; }

/* line 1, ../sass/base/_structure.scss */
.container {
  margin: 0 auto;
  width: 800px; }

/* line 5, ../sass/base/_base.scss */
* {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 21, ../sass/base/_base.scss */
section,
nav,
header,
aside,
footer {
  display: block; }

/* line 25, ../sass/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 29, ../sass/base/_base.scss */
body {
  background: #ab73b9; }

/* line 33, ../sass/base/_base.scss */
#page_header {
  padding: 40px 0; }

/* line 5, ../sass/base/_type.scss */
h1, h2, h3, h4, h5 {
  font-family: "Bowlby One", cursive; }

/* line 9, ../sass/base/_type.scss */
h1 {
  font-size: 50px;
  font-size: 5rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
      color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(left, rgba(105, 94, 127, 0.54) 0%, rgba(255, 92, 92, 0.57) 15%, rgba(255, 160, 17, 0.59) 27%, rgba(252, 236, 93, 0.61) 37%, rgba(255, 229, 145, 0.63) 46%, rgba(111, 196, 173, 0.65) 58%, rgba(106, 132, 186, 0.67) 69%, rgba(209, 119, 195, 0.69) 79%, rgba(216, 213, 125, 0.7) 89%, rgba(216, 213, 125, 0.72) 100%), repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), transparent 20px, rgba(255, 255, 255, 0.3) 40px);
  background-size: 300% 100%;
  background-position: center left, top left;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  transition: all 1.8s linear; }

/* line 82, ../sass/base/_type.scss */
em {
  font-style: italic; }

/* line 87, ../sass/base/_type.scss */
strong,
b {
  font-weight: bold; }

/* line 6, ../sass/base/_misc.scss */
.is-visible,
.block {
  display: block; }

/* line 10, ../sass/base/_misc.scss */
.is-hidden {
  display: none; }

/* line 18, ../sass/base/_misc.scss */
.hide-text {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden; }

/* line 73, ../sass/base/forms/_forms.scss */
label.radio,
label.checkbox {
  margin-right: 20px; }

/* line 78, ../sass/base/forms/_forms.scss */
select {
  width: 100%; }
