/* line 8, ../sass/base/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 20, ../sass/base/_reset.scss */
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

/* line 24, ../sass/base/_reset.scss */
body {
  line-height: 1.5; }

/* Tables still need 'cellspacing="0"' in the markup. */
/* line 29, ../sass/base/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* line 30, ../sass/base/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal; }

/* line 31, ../sass/base/_reset.scss */
table, td, th {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
/* line 34, ../sass/base/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/* line 35, ../sass/base/_reset.scss */
blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
/* line 38, ../sass/base/_reset.scss */
a img {
  border: none; }

/* line 1, ../sass/base/_structure.scss */
.container {
  margin: 0 auto;
  width: 800px; }

/* line 5, ../sass/base/_base.scss */
* {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 21, ../sass/base/_base.scss */
section,
nav,
header,
aside,
footer {
  display: block; }

/* line 25, ../sass/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 29, ../sass/base/_base.scss */
body {
  background: #ab73b9; }

/* line 33, ../sass/base/_base.scss */
#page_header {
  padding: 40px 0; }

/* line 5, ../sass/base/_type.scss */
h1, h2, h3, h4, h5 {
  font-family: "Bowlby One", cursive; }

/* line 9, ../sass/base/_type.scss */
h1 {
  font-size: 50px;
  font-size: 5rem;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-animation: animate-stripes 1s linear infinite;
  -moz-animation: animate-stripes 1s linear infinite;
  animation: animate-stripes 1s linear infinite;
  background-color: #03b0fe;
  background-image: -webkit-linear-gradient(45deg, #03b0fe 25%, #61cdf4 25%, #61cdf4 50%, #03b0fe 50%, #03b0fe 75%, #61cdf4 75%, #61cdf4);
  background-image: -moz-linear-gradient(45deg, #03b0fe 25%, #61cdf4 25%, #61cdf4 50%, #03b0fe 50%, #03b0fe 75%, #61cdf4 75%, #61cdf4);
  background-image: -o-linear-gradient(45deg, #03b0fe 25%, #61cdf4 25%, #61cdf4 50%, #03b0fe 50%, #03b0fe 75%, #61cdf4 75%, #61cdf4);
  background-image: linear-gradient(45deg, #03b0fe 25%, #61cdf4 25%, #61cdf4 50%, #03b0fe 50%, #03b0fe 75%, #61cdf4 75%, #61cdf4);
  background-size: 25px 25px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }

@-webkit-keyframes animate-stripes {
  /* line 35, ../sass/base/_type.scss */
  0% {
    background-position: 0 0; }

  /* line 36, ../sass/base/_type.scss */
  100% {
    background-position: 25px 0; } }

@-moz-keyframes animate-stripes {
  /* line 39, ../sass/base/_type.scss */
  0% {
    background-position: 0 0; }

  /* line 40, ../sass/base/_type.scss */
  100% {
    background-position: 25px 0; } }

/* line 79, ../sass/base/_type.scss */
em {
  font-style: italic; }

/* line 84, ../sass/base/_type.scss */
strong,
b {
  font-weight: bold; }

/* line 6, ../sass/base/_misc.scss */
.is-visible,
.block {
  display: block; }

/* line 10, ../sass/base/_misc.scss */
.is-hidden {
  display: none; }

/* line 18, ../sass/base/_misc.scss */
.hide-text {
  text-indent: -100%;
  white-space: nowrap;
  overflow: hidden; }

/* line 73, ../sass/base/forms/_forms.scss */
label.radio,
label.checkbox {
  margin-right: 20px; }

/* line 78, ../sass/base/forms/_forms.scss */
select {
  width: 100%; }
