// =============================
// Color Palette
// =============================

$blue:          #03b0fe;
$blue-mid:      #61cdf4;
$blue-light:    #b6e8fa;
$green-light:   #abd486;
$green:         #58b04c;
$orange:        #fa8804;
$orange-light:  #fddbb3;
$pink:          #ff0c4e;
$pink-light:    #ffb0d7;
$purple:        #681780;
$purple-light:  #ab73b9;
$yellow:        #ffee1e;

// =============================
// Gray Color Palette
// =============================


// =============================
// Messages and Alerts
// =============================


// =============================
// Typography
// =============================


