// ======================
// Global
// ======================

* {
   -webkit-text-size-adjust:none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


// ======================
// Page Layout
// ======================

section,
nav,
header,
aside,
footer {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background: $purple-light;
}

#page_header {
  padding: 40px 0;
}

// ======================
// Blinky images
// ======================

// img {
// // border:1px solid #000;
// // -moz-transition:all 1s ease-in-out;
// // -webkit-transition:all 1s ease-in-out;
// // -o-transition:all 1s ease-in-out;
// // -ms-transition:all 1s ease-in-out;
// // transition:all 1s ease-in-out;

// -moz-animation:blink normal 2s infinite ease-in-out;
// -webkit-animation:blink normal 2s infinite ease-in-out;
// animation:blink normal 2s infinite ease-in-out;
// }​

.star-1 {
  background: url(../img/star-1-spread.png) 0 0 no-repeat;
  display: block;
  height: 182px;
  width: 232px;
  position: absolute;
    top: 18px;
    left: -10px;

  -moz-animation: blink 1s ease-in-out infinite;
  -webkit-animation: blink 1s ease-in-out infinite;
  animation: blink 1s ease-in-out infinite;

  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.star-2 {
  background: url(../img/star-2-spread.png) 0 0 no-repeat;
  display: block;
  height: 169px;
  width: 277px;
  position: absolute;
    top: 35px;
    left: 20px;

  -moz-animation: blink 1.5s ease-in-out infinite;
  -webkit-animation: blink 1.5s ease-in-out infinite;
  animation: blink 1.5s ease-in-out infinite;

  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

.star-3 {
  background: url(../img/star-3-spread.png) 0 0 no-repeat;
  display: block;
  height: 212px;
  width: 249px;
  position: absolute;
    top: 10px;
    left: 20px;

  -moz-animation: blink 2s ease-in-out infinite;
  -webkit-animation: blink 2s ease-in-out infinite;
  animation: blink 2s ease-in-out infinite;

  -moz-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.big-star {
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
}

@-moz-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
} /* Firefox */

@-webkit-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
} /* Webkit */

@keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
} /* Opera and prob css3 final iteration */
