// ======================
// Global
// ======================

* {
   -webkit-text-size-adjust:none;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


// ======================
// Page Layout
// ======================

section,
nav,
header,
aside,
footer {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background: $purple-light;
  color: #333;
  -webkit-animation: pulse 40s infinite alternate;
}

@-webkit-keyframes pulse {
  0%    { background-color: $purple-light; }
  25%   { background-color: $blue-light; }
  50%   { background-color: $green-light; }
  75%   { background-color: $orange-light; }
  100%  { background-color: $pink-light; }
}

#page_header {
  padding: 40px 0;
}

// Videos

.birthday {
  margin-bottom: 40px;
  position: relative;
}

.video-snuggle {
  display: inline-block;
  background-color: $green;
  margin-bottom: 10px;
  position:relative;
  padding: 10px;
  z-index: 2;
}

#page_footer {
  background: #333;
  color: #fff;
  min-height: 200px;
  padding: 20px;
  text-align: center;
}

// ======================
// Blinky Stars
// ======================

$stars:
  star-1 1s 0.5s,
  star-2 1.5s 1s,
  star-3 2s 1.5s,
  star-1-alt 1s 0.5s,
  star-2-alt 1.5s 1s,
  star-3-alt 2s 1.5s;

@each $star in $stars {
  .#{nth($star, 1)} {
  background: url(../img/#{nth($star, 1)}-spread.png) 0 0 no-repeat;
  display: block;
  position: absolute;

  -moz-animation: blink #{nth($star, 2)} ease-in-out infinite;
  -webkit-animation: blink #{nth($star, 2)} ease-in-out infinite;
  animation: blink #{nth($star, 2)} ease-in-out infinite;

  -moz-transition-delay: #{nth($star, 3)};
  -webkit-transition-delay: #{nth($star, 3)};
  transition-delay: #{nth($star, 3)};
  }
}

.star-1 {
  height: 182px;
  width: 232px;
  top: -40px;
  left: 10px;
}

.star-2 {
  height: 169px;
  width: 277px;
  top: 35px;
  left: 0;
}

.star-3 {
  height: 250px;
  width: 241px;
  top: 10px;
  left: -40px;
}

.star-1-alt {
  height: 182px;
  width: 232px;
  top: 0;
  right: -40px;
}

.star-2-alt {
  height: 277px;
  width: 277px;
  top: 0;
  right: 0;
}

.star-3-alt {
  height: 317px;
  width: 158px;
  right: 0;
  top: 0;
}

@-moz-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
} /* Firefox */

@-webkit-keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
} /* Webkit */

@keyframes blink {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
} /* Opera and prob css3 final iteration */

// ======================
// Rainbows
// ======================

.rainbow,
.rainbow-alt {
  display: block;
  position: absolute;
}

.rainbow {
  background: url(../img/rainbow.png) 0 0 no-repeat;
  height: 176px;
  width: 257px;
  top: 40px;
  right: -50px;
}

.rainbow-alt {
  background: url(../img/rainbow-alt.png) 0 0 no-repeat;
  height: 109px;
  width: 162px;
  top: 40px;
  left: -100px;
  z-index: 3;
}

// ======================
// Hearts
// ======================

.heart-small,
.heart-mid,
.heart-big {
  display: block;
  position: absolute;
}

$hearts:
  heart-small 1s 0.5s,
  heart-mid 1.5s 1s,
  heart-big 2s 1.5s;

@each $heart in $hearts {
  .#{nth($heart, 1)} {
  display: block;
  position: absolute;

  -moz-animation: blink #{nth($heart, 2)} ease-in-out infinite;
  -webkit-animation: blink #{nth($heart, 2)} ease-in-out infinite;
  animation: blink #{nth($heart, 2)} ease-in-out infinite;

  -moz-transition-delay: #{nth($heart, 3)};
  -webkit-transition-delay: #{nth($heart, 3)};
  transition-delay: #{nth($heart, 3)};
  }
}


.heart-small {
  @include font-size(3.2);
  color: $pink;
  top: 20px;
  left: 20px;
}

.heart-mid {
  @include font-size(5.0);
  color: $purple;
  left: 50px;
  bottom: 20px;
}

.heart-big {
  @include font-size(10.0);
  color: $yellow;
  right: -30px;
  top: 100px;
}

// Footer and Meta
.faq {
  @include font-size(1.6);
}
